@import "tags";
@import "recent-posts";
@import "search";
@import "categories-and-archives";
@import "woocommerce-cart";
@import "woocommerce-price-filter";
@import "woocommerce-widgets";

.dsdep-sidebar .et_pb_widget,
#sidebar .et_pb_widget {
  margin-bottom : 40px !important;

  &:last-child {
    margin-bottom : 0 !important;
    }
  }

.dsdep-widgettitle, .dsdep-sidebar .widgettitle, #sidebar .widgettitle {
  @include responsiveFontSize(21px, 20px, 19px);
  font-weight    : bold;
  line-height    : 1.7;
  border-bottom  : 1px solid;
  border-color   : $darkBorderColor;
  position       : relative;
  padding-bottom : 20px;
  margin-bottom  : 30px;

  &:before {
    content      : "";
    width        : 80px;
    border-top   : 2px solid;
    position     : absolute;
    left         : 0;
    bottom       : -1px;
    border-color : $mainColor;
    }

  }