.dsdep-shop-categories-list {
  list-style-type : none !important;
  padding         : 0 !important;

  li {
    font-weight    : 600;
    padding-bottom : 24px;

    a {
      display     : flex;
      align-items : center;
      }

    img {
      max-width    : none;
      width        : 40px;
      height       : 24px;
      object-fit   : contain;
      margin-right : 15px;
      }
    }

  & > li:last-of-type {
    padding-bottom : 0;
    }

  &.list-inline {
    @media (min-width : $breakSmall) {
      display         : flex;
      justify-content : space-around;
      flex-wrap       : wrap;

      li {
        margin     : 0 15px 15px;
        text-align : center;

        a {
          display : block;
          }

        img {
          width   : auto;
          height  : 40px;
          display : block;
          margin  : 0 auto 16px;
          }
        }
      }
    }
  }