.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  border  : none;
  padding : 0;
  }

.woocommerce form.login {
  .woocommerce-form-login__rememberme {
    display       : block;
    margin-bottom : 20px;
    }

  .lost_password {
    margin-top : 30px;
    text-align : center;
    }
  }

.woocommerce form.register {
  .woocommerce-privacy-policy-text {
    margin-bottom : 20px;
    font-size     : 14px;
    }
  }

.user-logged-out .dsdep-my-account {
  @media (min-width : $breakSmall) {
    padding-top : 40px;
    }

  h2 {
    text-align    : center;
    font-weight   : 600;
    @include responsiveFontSize(50px, 45px, 40px);
    margin-bottom : 40px;
    }

  form.woocommerce-ResetPassword,
  form.woocommerce-form-login,
  form.woocommerce-form-register {
    max-width : 550px;
    @include pushAuto();

    button {
      text-align   : center;
      float        : none !important;
      min-width    : 130px;
      box-shadow   : $primaryShadow;
      margin-left  : auto !important;
      margin-right : auto !important;
      display      : block;
      }
    }
  }

form.woocommerce-ResetPassword {
  text-align : center;

  & > p {
    margin-bottom : 15px;
    }

  .form-row-first {
    width : 100%;
    }
  }