// ------------------------------------------------------------------------------------------- //
//            Divi modules dir handles global styles for Divi modules.
// ------------------------------------------------------------------------------------------- //

@import "acccordion";
@import "social-icons";
@import "blog";
@import "testimonials";
@import "woocommerce-tabs";
@import "email-optin";
@import "search";
@import "contact-form";
@import "slider";
@import "woo-images";
@import "add-to-cart";
@import "countdown-timer";