.dsdep-add-to-cart,
.et-db #et-boc .et-l .dsdep-add-to-cart {

  .variations {
    select {
      @include formInputMixin();
      }
    }

  .woocommerce-variation-price {
    margin-bottom : 20px;

    .price {
      color       : $baseHeaderColor !important;
      font-size   : 23px;
      font-weight : 600;

      del {
        opacity   : 1;
        color     : $baseFontColor !important;
        font-size : 18px;
        }
      }
    }

  input.qty {
    @include formInputMixin();
    height      : 57px !important;
    line-height : 57px !important;
    }

  button.button {
    @include primaryButtonMixin();
    @include mediumButtonMixin();
    box-shadow : $secondaryShadow;
    }

  .tinvwl-after-add-to-cart {
    margin-top : 20px;
    }
  }