.dsdep-countdown-timer,
.et-db #et-boc .et-l .dsdep-countdown-timer {
  .section {
    margin-top    : 5px;
    margin-bottom : 5px;

    &.values {
      width : auto;
      }

    &.sep {
      padding-left  : 10px;
      padding-right : 10px;
      }
    }
  }