.et-db #et-boc .et-l .dsdep-slider.et_pb_slider,
.dsdep-slider.et_pb_slider {

  // Arrows
  .et-pb-arrow-next, .et-pb-arrow-prev {
    background    : #FFF;
    font-size     : 21px;
    color         : $mainColor !important;
    padding       : 0;
    width         : 45px;
    height        : 45px;
    text-align    : center;
    border-radius : 50%;
    box-shadow    : 0 7px 30px 0 rgba(0, 0, 0, 0.1);
    opacity       : 0.54;
    border        : 1px solid;
    border-color  : $lightBorderColor;

    &:before {
      line-height : 45px;
      }

    &:hover {
      opacity : 1;
      }
    }

  .et-pb-arrow-next {
    right : -45px;

    &:before {
      content : "\24";
      }
    }

  .et-pb-arrow-prev {
    left : -45px;

    &:before {
      content : "\23";
      }
    }

  &:hover {
    .et-pb-arrow-prev {
      left : 15px;
      }

    .et-pb-arrow-next {
      right : 15px;
      }
    }

  // Dots
  .et-pb-controllers {
    a {
      @include transition();

      &:hover {
        background-color : $mainColor;
        }

      &.et-pb-active-control {
        width            : 20px;
        background-color : $mainColor;
        }
      }
    }
  }
