.dsdep-woo-images,
.et-db #et-boc .et-l .dsdep-woo-images {

  .woocommerce-product-gallery .woocommerce-product-gallery__image img,
  .woocommerce-product-gallery .flex-control-thumbs img {
    border-radius : $mainRadius;
    overflow      : hidden;
    border        : 1px solid;
    border-color  : $lightBorderColor;
    }

  .woocommerce-product-gallery .flex-control-thumbs img {
    &.flex-active, &:hover {
      border-color : $mainColor;
      }
    }

  }