// ------------------------------------------------------------------------------------------- //
//                         Plugin dir handles styles for plugins
// ------------------------------------------------------------------------------------------- //

@import "navxt-breadcrumbs";
@import "woocommerce/0-woocommerce-dir";
@import "wp-pagenavi";
@import "woo-slide-cart";
@import "woo-quick-view";
@import "ti-woocommerce-wishlits";