// ------------------------------------------------------------------------------------------- //
//   Base dir handles the overall layout of the web page such as header,
//            footer, sidebar, widgets, container and grid system.
// ------------------------------------------------------------------------------------------- //
@import "fixes";
@import "menu";
@import "footer";
@import "sidebar-widgets/0-sidebar-widgets";

blockquote {
  margin      : 15px 0;
  border-left : 2px solid;
  font-weight : 500;
  line-height : 1.5;
  }
