.dsdep-image-center {
  text-align   : center !important;
  margin-right : auto !important;
  margin-left  : auto !important;
  }

.dsdep-image-right {
  text-align   : right !important;
  margin-right : 0 !important;
  margin-left  : auto !important;
  }

.dsdep-image-left {
  text-align   : left;
  margin-right : auto !important;
  margin-left  : 0 !important;
  }

.dsdep-text-right {
  text-align : right !important;
  }

.dsdep-text-left {
  text-align : left !important;
  }

.dsdep-text-center {
  text-align : center !important;
  }

@media (max-width : 980px) {
  .dsdep-center-on-mobile {
    text-align : center !important;
    }
  }