.dsdep-background-color-light {
  background-color : $lightGrey !important;
  }

.dsdep-background-color-dark {
  background-color : $darkGrey !important;
  }

.dsdep-background-color-second {
  background-color : $secondColor !important;
  }

.dsdep-background-color-primary {
  background-color : $mainColor !important;
  }