.dsdep-shadow-second {
  box-shadow : $secondaryShadow;
  }

.dsdep-shadow-primary {
  box-shadow : $primaryShadow;
  }

.dsdep-module-button-shadow-second .et_pb_button {
  box-shadow : $secondaryShadow;
  }

.dsdep-module-button-shadow-primary .et_pb_button {
  box-shadow : $primaryShadow;
  }