<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
     <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"30px"} -->
    <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:heading {"level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"500","lineHeight":"1.8","fontSize":"30px"}}} -->
    <h1 class="wp-block-heading" style="font-size:30px;font-style:normal;font-weight:500;line-height:1.8">Cart</h1>
    <!-- /wp:heading -->
    
    <!-- wp:shortcode -->
    [woocommerce_cart]
    <!-- /wp:shortcode -->
    
    <!-- wp:spacer {"height":"30px"} -->
    <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->
             
</main>
    <!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

