<!-- wp:template-part {"slug":"header","theme":"wc-fashion","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:group {"style":{"color":{"background":"#f8f8ff"},"spacing":{"padding":{"right":"0","left":"0"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group has-background" style="background-color:#f8f8ff;padding-right:0;padding-left:0"><!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"6%"}}}} -->
    <div class="wp-block-columns"><!-- wp:column {"width":"30%"} -->
    <div class="wp-block-column" style="flex-basis:30%"><!-- wp:template-part {"slug":"woo-sidebar","theme":"wc-fashion","area":"uncategorized"} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"70%"} -->
    <div class="wp-block-column" style="flex-basis:70%"><!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group"><!-- wp:spacer {"height":"40px"} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:shortcode -->
    [products limit="9" columns="3" paginate="true"]
    <!-- /wp:shortcode -->
    
    <!-- wp:spacer {"height":"40px"} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    <!-- wp:template-part {"slug":"footer","theme":"wc-fashion","area":"footer"} /-->