.dsdep-my-account .woocommerce {
  form.woocommerce-EditAccountForm {
    fieldset {
      margin-top : 20px;

      legend {
        font-weight   : 600;
        margin-bottom : 15px;
        }
      }
    }
  }