<!-- wp:template-part {"slug":"header","theme":"wc-booster","tagName":"header"} /-->
<!-- wp:pattern {"slug":"wc-booster/archive-banner"} /-->
<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|0","left":"var:preset|spacing|0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-right:var(--wp--preset--spacing--0);padding-left:var(--wp--preset--spacing--0)"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"50px","bottom":"50px","right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"blockGap":"0"},"color":{"background":"#edededed"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background" style="background-color:#edededed;padding-top:50px;padding-right:var(--wp--preset--spacing--30);padding-bottom:50px;padding-left:var(--wp--preset--spacing--30)"><!-- wp:columns {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}},"border":{"width":"0px","style":"none"}},"className":"sidebar-variation"} -->
<div class="wp-block-columns sidebar-variation" style="border-style:none;border-width:0px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"verticalAlignment":"top","width":"75%","className":"col-content"} -->
<div class="wp-block-column is-vertically-aligned-top col-content" style="flex-basis:75%">
	<!-- wp:pattern {"slug":"wc-booster/post-list"} /-->
</div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"25%","style":{"spacing":[]}} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:25%">
	<!-- wp:pattern {"slug":"wc-booster/sidebar"} /-->
</div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"wc-booster","tagName":"footer"} /-->