<!-- wp:template-part {"slug":"header","theme":"wc-booster"} /-->

<!-- wp:pattern {"slug":"wc-booster/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:spacer {"height":"60px","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
	<div style="margin-top:0;margin-bottom:0;height:60px" aria-hidden="true" class="wp-block-spacer">
		
	</div>
	<!-- /wp:spacer -->
	<!-- wp:pattern {"slug":"wc-booster/featured-category"} /-->
	
	<!-- wp:spacer {"height":"60px","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
	<div style="margin-top:0;margin-bottom:0;height:60px" aria-hidden="true" class="wp-block-spacer">
	</div>
	<!-- /wp:spacer -->
	<!-- wp:pattern {"slug":"wc-booster/recent-products"} /-->
	
	<!-- wp:spacer {"height":"60px"} -->
	<div style="height:60px" aria-hidden="true" class="wp-block-spacer">
	</div>
	<!-- /wp:spacer -->
	<!-- wp:pattern {"slug":"wc-booster/sale-banner"} /-->

	<!-- wp:spacer {"height":"60px"} -->
	<div style="height:60px" aria-hidden="true" class="wp-block-spacer">
	</div>
	<!-- /wp:spacer -->
	<!-- wp:pattern {"slug":"wc-booster/usf"} /-->

	<!-- wp:pattern {"slug":"wc-booster/newsletter"} /-->
	
	<!-- wp:spacer {"height":"70px"} -->
	<div style="height:70px" aria-hidden="true" class="wp-block-spacer">
	</div>
	<!-- /wp:spacer -->
	<!-- wp:pattern {"slug":"wc-booster/latest-blogs"} /-->
	<!-- wp:spacer {"height":"60px"} -->
	<div style="height:60px" aria-hidden="true" class="wp-block-spacer">
	</div>
	<!-- /wp:spacer -->
	<!-- wp:pattern {"slug":"wc-booster/subscribe"} /-->
	<!-- wp:spacer {"height":"60px"} -->
	<div style="height:60px" aria-hidden="true" class="wp-block-spacer">
	</div>
	<!-- /wp:spacer -->
</main>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wc-booster","tagName":"footer"} /-->