<!-- wp:template-part {"slug":"header","theme":"wc-booster","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group" style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:woocommerce/legacy-template {"template":"single-product","align":""} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wc-booster","tagName":"footer"} /-->