.dsdep-categories-list {
  list-style-type : none;
  font-size       : 14px;
  margin          : 0;
  padding         : 0;

  li {
    display : inline-block;
    margin  : 0 10px 17px 0;

    a {
      border-bottom : solid 2px transparent;
      padding       : 7px 10px;
      color         : inherit;
      @include transition();

      &:hover {
        border-color : $mainColor;
        }
      }

    &.current-cat a {
      border-color : $mainColor;
      }
    }

  }

.blog .dsdep-categories-list .cat-item-all a {
  border-color : $mainColor;
  }